[Unit]
Description=InputFlow Linux client
Documentation=man:systemd.service(5)
ConditionPathExists=%h/.config/mwb-client/config.ini

[Service]
Type=simple
ExecStart=/usr/bin/mwb_client gui --config %h/.config/mwb-client/config.ini
Restart=on-failure
RestartSec=3s
NoNewPrivileges=true

[Install]
WantedBy=default.target
